
body {
    background: url(../images/cat.jpg)  no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover
    
  }

.container {
    background-size:cover;
    background-color: rgba(226, 136, 136, 0.13);
      
color: inherit;
    
}

#searches {
    width: 100%;
}

.search-item {
    float: left;
    padding: 10px;
}
form {
    width: 100%;
    padding: 20px;
}
label {
    display: block;
    font-weight: 700;
    margin-bottom:10px;
}
input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    height: 30px;
    font-size: 18px;
    background-size:cover;
    background-color:rgba(100,100,100, 0.5);
}
button, input[type="submit"] {
    background: #067e20;
    color: #ffffff;
    border: 0;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 18px;
    margin: 0 10px 10px 0;
    cursor: pointer;
    box-shadow: 2px 2px 3px #bbb;
}
button:hover, input[type="submit"]:hover{
    background: #334E4D;
}
button.active {
    background: #334E4D;
}

.jumbotron, .card {
    background-size:cover;
    background-color: rgba(100,100,100, 0.5);
    color: inherit;
}

h1{
    font-size: 45px;
    text-shadow: 0px 3px 0px #24c40f,
    0px 14px 10px rgb(19, 236, 55),
    0px 24px 2px rgb(74, 255, 134),
    0px 34px 30px rgb(99, 206, 37);
}